@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
  --color-primary: #6a2b83;
  --color-secondary: #14beb1;
  --color-accent: #3e54ab;
  --transparent-panel: rgba(12, 12, 12, 50%);
  --transparent-panel-light: rgba(99, 99, 99, 20%);
  --secondary-border: 1px solid var(--color-secondary);
  --section-margin: 4rem 0 8rem 0;
}

/* 
 * General styles
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  scrollbar-width: auto;
  scrollbar-color: var(--color-secondary) var(--transparent-panel);
}

::-webkit-scrollbar {
  background-color: var(--transparent-panel);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 3px;
}



body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  color: #fff;

  background-color: #000;
  background-image: linear-gradient(235deg, var(--color-primary) 0%, #000000 64%)
}

p {
  text-align: left;
  line-height: 1.4;
}

.container {
  width: 85%;
  margin: 0 auto;
  text-align: center
}

.icon {
  padding: 1rem;
  color: white
}

.link {
  padding: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-image: linear-gradient(transparent 0%,
      transparent 90%,
      var(--color-secondary) 90%,
      var(--color-secondary) 100%);

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms, text-shadow 300ms;
}

.btn-link {
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.750rem
}

.glow-heading {
  font-weight: 400;
  text-shadow: 0 0 10px var(--color-secondary);
  transition: text-shadow 0.5s;
}

section .glow-heading {
  margin: 2rem auto;
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
  border-bottom: var(--secondary-border);
  width: max-content;
}

/* Page Styles */

/* 
 * Header 
 */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.75rem 1rem;
  background-color: var(--transparent-panel);
  border-radius: 0px 0px 20px 20px;
}

li {
  list-style-type: none
}

a {
  text-decoration: none;
  color: inherit
}

header>ul {
  justify-content: flex-end;
  align-items: baseline;
  gap: 1rem;
}

header>ul li:first-of-type {
  margin-right: auto;
}

/* 
 * Landing section 
 */

#title-card {
  margin: var(--section-margin);
  min-height: calc(90vh + 5px);
  display: grid;
  grid-template-rows: minmax(320px, 1fr) 80px 0.5fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: flex-start;
}

#title-card :is(.terminal-border, .title, .about) {
  margin: 1.5rem 0;
}

#title-card .terminal-border {
  align-self: flex-end;
}

.terminal-border {
  width: max(20vw, 300px);
  height: max(20vw, 300px);
  background-color: var(--transparent-panel);
  border: 2px solid #000;
  border-radius: 50%;
  animation: border-glow 4s linear infinite;
}

@keyframes border-glow {
  0% {
    border-color: var(--color-secondary);
  }

  50% {
    border-color: #000;
  }

  100% {
    border-color: var(--color-secondary);
    ;
  }
}

#terminal-prompt {
  width: 75%;
  aspect-ratio: 1;
  fill: #fff;
  filter: drop-shadow(0px 0px 25px var(--color-secondary));
}

.title {
  font-size: 2rem;
}

.typing-text {
  overflow: hidden;
  border-right: .15em solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #fff;
  }
}

.about {
  border: var(--secondary-border);
  padding: 1rem;
}

.about>h2 {
  padding-bottom: 0.5rem;
}

.about>p {
  text-indent: 3ch;
  padding: 1rem 0.25rem;
  max-width: 70ch;
}

.about>p>strong,
.featured-project>p>strong {
  text-shadow: 0 0 7px var(--color-secondary);
}

/* 
 * Project showcase section 
 */
#portfolio {
  margin: var(--section-margin);
}

#project-carousel {
  scroll-behavior: smooth;
  margin-bottom: 6rem;
  padding: 1rem 0;
  justify-content: flex-start;
  gap: 4rem;
  overflow-x: scroll;
  scrollbar-width: auto;
  scrollbar-color: var(--color-secondary) var(--transparent-panel);
}

.scroll-arrow {
  display: none;
}

.project-card {
  width: 375px;
  min-width: 350px;
  height: auto;
  padding: 0.5rem 0;
  background-color: var(--transparent-panel-light);
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
}

.project-card .card-description {
  margin: 0.5rem;
  padding: 0.5rem;
}

.project-card a {
  margin-top: auto;
}

.tech-stack {
  padding: 0.5rem 0;
  width: 90%;
  justify-content: center;
}

.tech-stack li {
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 10px;
  font-size: small;
  background-color: var(--color-accent);
}

.project-photo {
  width: 100%;
  aspect-ratio: 1;
}

.featured-project {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: end;
  align-items: center;
  border: var(--secondary-border);
}

.featured-project p {
  text-indent: 3ch;
  justify-self: center;
  width: 70%;
}

iframe {
  width: min(100%, 800px);
  aspect-ratio: 16 / 9;
}

/* 
 * Contact/links section 
 */

#contact {
  margin: var(--section-margin);
  padding: 2rem 0 4rem 0;
}

#contact img {
  margin: 0 0 2rem 0;
  width: 164px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid black;
  animation: border-glow 4s linear infinite;
}

#contact p {
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  text-align: center;
  max-width: 70ch;
}

#contact i[class~="fa-github"] {
  animation: green-icon-glow 1.0s ease-in-out infinite alternate;
}

#contact i[class~="fa-linkedin"] {
  animation: blue-icon-glow 1.0s ease-in-out infinite alternate;
}

#contact i[class~="fa-envelope"] {
  animation: purple-icon-glow 1.0s ease-in-out infinite alternate;
}

@keyframes green-icon-glow {
  0% {
    text-shadow: 0 0 10px #25d366, 0 0 20px #48ee85, 0 0 30px #0ec0a5;
  }

  100% {
    text-shadow: 0 0 5px #25d366, 0 0 10px #48ee85, 0 0 15px #0ec0a5;
  }
}

@keyframes blue-icon-glow {
  0% {
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #189bff;
  }

  100% {
    text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #189bff;
  }
}

@keyframes purple-icon-glow {
  0% {
    text-shadow: 0 0 10px #ff1177, 0 0 20px #d6249f, 0 0 30px var(--color-accent);
  }

  100% {
    text-shadow: 0 0 5px #ff1177, 0 0 10px #d6249f, 0 0 15px var(--color-accent);
  }
}


/* 
 * Media Queries 
 */

/* Handles operating system scale affecting sizing */ 
@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    zoom: 0.8;
  }
}

/* for devices that support hovering (i.e. non touch-screens)*/
@media (hover:hover) {
  .link:hover {
    text-shadow: 0 0 5px var(--color-secondary);
    background-size: 100% 100%;
    background-position-x: left;
  }

  .icon:hover {
    transform: translateY(-6px);
    transition: transform 0.5s;
  }

  .btn-link:hover {
    transform: translateY(-3px);
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    background-color: #fff;
    transition: transform 0.3s, color 0.3s, background-color 0.3s, border 0.3s
  }

  .glow-heading:hover {
    text-shadow: 0 3px 20px var(--color-secondary);
    cursor: default;
  }

  ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 10px var(--color-secondary);
  }  
}


/* tablet screens and split-window display */
@media screen and (max-width: 850px) {
  .featured-project {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    row-gap: 0.5rem;
  }


  .scroll-arrow {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: var(--transparent-panel);
    transition: transform 1s;
    animation: border-glow 4s linear infinite;
  }

  .scroll-arrow svg {
    width: 100%;
    fill: #fff;
    filter: drop-shadow(0px 0px 25px var(--color-secondary));
  }

  .scroll-arrow.end {
    transform: rotateY(180deg);
  }
}

/* phone screen layout changes */
@media screen and (max-width: 450px) {
  .container {
    width: 95%;
  }

  header>ul {
    gap: 0;
  }

  header>ul li:first-of-type {
    display: none;
  }

  .title {
    font-size: 1.2rem;
  }

  #project-carousel>div:first-child { margin-left: 0.2rem; }
  #project-carousel>div:last-child { margin-right: 0.2rem; }

  ::-webkit-scrollbar {
    background-color: var(--transparent-panel);
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 2px;
  }

  .featured-project p {
    width: 90%;
  }
}

/* 
 * Utility 
 */

.flex {
  display: flex
}

.f-col {
  flex-direction: column
}

.f-row {
  flex-direction: row
}

.f-centered {
  justify-content: center;
  align-items: center;
}